<div class="col-lg-6">
    <h1>{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'Success'">
        Registro completado correctamente,
        <a [routerLink]="['/login']"> Iniciar Session!</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No te has registrado correctamente
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <p>
            <label>Nombre</label>
            <input type="text" name="Name" #Name="ngModel" [(ngModel)]="user.Name" class="form-control" required />
            <span *ngIf="!Name.valid && Name.touched">
                * El nombre es obligatorio
            </span>
        </p>
        <p>
            <label>Apellido</label>
            <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" class="form-control" required/>
            <span *ngIf="!LastName.valid && LastName.touched">
                * El email es obligatorio
            </span>
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" class="form-control" required />
            <span *ngIf="!Email.valid && Email.touched">
                * El email es obligatorio
            </span>
        </p>

        <p>
            <label>Contraseña</label>
            <input type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" class="form-control" required />
            <span *ngIf="!Password.valid && Password.touched">
                * El password es obligatorio
            </span>
        </p>
        <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!registerForm.form.valid" />
    </form>
</div>