<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">Bienvenido a Adopt-App, este es un espacio libre de maltrato animal y cuido adecuado de las mascotas!</p>
        <hr class="my-4">
        <p>Que esperas ayuda a una mascota a encontrar un hogar.</p>

        <a class="btn btn-primary btn-lg" [routerLink]="['/pets']" role="button">Nuestras Mascotas</a>
        <a class="btn btn-info btn-lg" [routerLink]="['/adopt']" role="button">Adoptar Mascota</a>
        <a class="btn btn-warning btn-lg" [routerLink]="['/homecare']" role="button">Home Cares</a>
        <a class="btn btn-success btn-lg" [routerLink]="['/contact']" role="button">Contactanos</a>
    </div>
</div>

<hr>

<!--
<h2>Efectos con JQuery</h2>
<button id="botonjq">Mostrar texto / esconder texto </button>
<p id="textojq" class="alert alert-warning">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel rutrum ligula. Pellentesque nec libero sodales, luctus
    felis eget, pretium tortor. Nunc nec nisi elit. Fusce sollicitudin augue libero, consequat elementum sapien fringilla
    eu. Nam nisi tortor, pulvinar a arcu non, faucibus pharetra dui. Integer mi ligula, dapibus non varius consectetur, lobortis
    viverra tellus. Cras pulvinar, ipsum ut vestibulum efficitur, sem ex euismod augue, rutrum commodo felis ante non odio.
    Integer commodo laoreet ante, eu facilisis purus aliquam a. Sed ut sem ornare risus placerat condimentum. In hac habitasse
    platea dictumst. Donec ut ornare diam. Nullam a metus finibus, maximus lacus in, blandit tortor.
</p>

-->